<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="File" xsi:type="File"  layout="${longdate}|${logger}|${message}|${exception:format=ToString,StackTrace}" fileName="${basedir}/log/${shortdate}.log">
    </target>
  </targets>
  <!-- OPCION 2
<target name="file" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
            fileName="${basedir}/${shortdate}.log" />
-->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="File" />
  </rules>
</nlog>
